streamlit
langchain
langchain-community
faiss-cpu
sentence-transformers
PyMuPDF
huggingface_hub
requests
pytesseract
PyPDF2
easyocr
pillow
timm
transformers==4.35.0
torchvision
accelerate
easyocr
opencv-python-headless
asyncio
