transformers>=4.39.0
torch>=2.1.0
torchvision
accelerate
timm
streamlit
langchain>=0.2.0
langchain-community
faiss-cpu
sentence-transformers
PyPDF2
huggingface_hub
requests
pytesseract
PyMuPDF
easyocr
pillow
opencv-python-headless
pinecone>=3.0.0      
